In [1]:
print("ok")

ok

In [3]:
'''Connection String MongoDB connection
mongodb+srv://utkarsh:utkarsh@cluster0.wtdbx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
'''

'Connection String MongoDB connection\nmongodb+srv://utkarsh:utkarsh@cluster0.wtdbx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0\n'

In [5]:
import pandas as pd
df = pd.read_csv("EasyVisa.csv")
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [7]:
df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [10]:
data = df.to_dict(orient='records')

In [13]:
DB_name = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = "mongodb+srv://utkarsh:utkarsh@cluster0.wtdbx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [15]:
import pymongo

In [16]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_name]
collection = data_base[COLLECTION_NAME]
record = collection.insert_many(data)